# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
Packages/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Temporary
*.swp
*~
.DS_Store
